##  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


## 데이타 필터링

분석에 필요한 데이타를 거르는 작업 ( 데이타 추출 )

1. 열단위 추출 : df['컬럼명']

2. 행단위 추출 : df.loc[인덱스명칭] / df.iloc[인덱스위치]

    - loc[] : 명칭 기반 인덱싱
    - iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능
    

        - loc과 iloc 차이
            - df.loc[-1]  # 에러
            - df.iloc[-1] # 마지막번호

In [48]:
# 데이타 추출

import pandas as pd

df = pd.read_excel('http://qrc.depaul.edu/excel_files/presidents.xlsx')

# 1. 열단위 추출
# 대통령 이름, 취임 나이, 출신 주 출력
# df
# df.head(5)[['President', 'Age at inauguration', 'State elected from']]
# df.loc[df['President'] == ['George Washington']]
df.loc[(df['President'] == 'George Washington')| (df['President'] == 'Abraham Lincoln') | (df['President'] == 'Barack Obama'), ['President', 'Age at inauguration', 'State elected from']]

            President  Age at inauguration State elected from
0   George Washington                   57           Virginia
13    Abraham Lincoln                   52           Illinois
34       Barack Obama                   47           Illinois

In [2]:
# 2. 행단위 추출
""" 
    loc[] : 명칭 기반 인덱싱
    iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능
"""
# (1) loc

' \n    loc[] : 명칭 기반 인덱싱\n    iloc[] : 위치 기반 인덱싱\n    \n    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능\n'

In [52]:
# (2) iloc
df.iloc[-1]

President                        Barack Obama
Years in office                           NaN
Year first inaugurated                   2009
Age at inauguration                        47
State elected from                   Illinois
# of electoral votes                      365
# of popular votes                   69492376
National total votes                129438754
Total electoral votes                     538
Rating points                             NaN
Political Party                      Democrat
Occupation                             Lawyer
College                   Columbia University
% electoral                           67.8439
% popular                             53.6875
Name: 34, dtype: object

마지막행의 데이타 추출

In [56]:
df.shape  # (35, 15)
df.shape[0] - 1  # 34
df.iloc[df.shape[0] - 1]

President                        Barack Obama
Years in office                           NaN
Year first inaugurated                   2009
Age at inauguration                        47
State elected from                   Illinois
# of electoral votes                      365
# of popular votes                   69492376
National total votes                129438754
Total electoral votes                     538
Rating points                             NaN
Political Party                      Democrat
Occupation                             Lawyer
College                   Columbia University
% electoral                           67.8439
% popular                             53.6875
Name: 34, dtype: object

행열 모두 지정하여 추출 

- 초대 대통령 10명의 이름과 대학을 추출

In [51]:
df.iloc[0:10][['President', 'College']]
# (1) 초대 대통령 10명의 이름과 대학을 추출
#     하지만 컬럼명을 기술하는 것을 권장

                President               College
0       George Washington                  None
1              John Adams               Harvard
2        Thomas Jefferson      William and Mary
3           James Madison             Princeton
4            James Monroe      William and Mary
5       John Quincy Adams               Harvard
6          Andrew Jackson                  None
7       Martin Van Buren                   None
8  William Henry Harrison        Hampden-Sydney
9           James K. Polk  U. of North Carolina

#### [ 결과 ]

                President           College
                
    0      George Washington              None

    1              John Adams           Harvard

    2        Thomas Jefferson  William and Mary

    3           James Madison         Princeton

    4            James Monroe  William and Mary

    5       John Quincy Adams           Harvard

    6          Andrew Jackson              None

    7       Martin Van Buren               None

    8  William Henry Harrison    Hampden-Sydney

### [추후] 미국대통령 데이타셋을 분석하고 정보를 도출하여 출력(시각화 권장)