In [3]:
# DataFrame = table?
# Series = row?
# Series 가 모이면 Dataframe?이라 이해해보자

import pandas as pd
age_in=pd.Series([22,33,44,56,85])
age_in

0    22
1    33
2    44
3    56
4    85
dtype: int64

In [4]:
# 인덱스 확인
age_in.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
# 데이터 값 확인
age_in.values

array([22, 33, 44, 56, 85])

In [6]:
# 키를 확인
age_in.keys

<bound method Series.keys of 0    22
1    33
2    44
3    56
4    85
dtype: int64>

In [7]:
# 키를 확인
age_in.keys()

RangeIndex(start=0, stop=5, step=1)

In [8]:
# 객체 보기 // 간편하게 보기는 shift + tab
age_in?

In [17]:
age_in2 = pd.Series([22,33,44,51,121], index=['a','b','c','d','e'])

In [18]:
age_in2

a     22
b     33
c     44
d     51
e    121
dtype: int64

In [19]:
age_in2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
age_in2.values

array([ 22,  33,  44,  51, 121])

In [21]:
age_in2.keys

<bound method Series.keys of a     22
b     33
c     44
d     51
e    121
dtype: int64>

In [23]:
# 값 변경
age_in2['c']=101
age_in2

a     22
b     33
c    101
d     51
e    121
dtype: int64

In [25]:
# Series 는 인덱스 중복 가능 !?
srs = pd.Series(['가', '나', '다'], index=['a', 'b', 'a'])
srs

a    가
b    나
a    다
dtype: object

In [44]:
# 중복이 된 값 모두 출력, 인덱스로 기능한다.
srs['a']

a    가
a    다
dtype: object

In [36]:
# dict >> Series
info_list = {'aa':24, 'bb':19, 'cc':88}
info_srs = pd.Series(info_list)
info_srs

aa    24
bb    19
cc    88
dtype: int64

In [31]:
info_srs['cc'] = 101
info_srs

aa     24
bb     19
cc    101
dtype: int64

In [34]:
info_srs.index
# info_srs.values
# info_srs.keys

Index(['aa', 'bb', 'cc'], dtype='object')

In [37]:
info_srs = pd.Series(info_list, index=[1,2,3])
info_srs

# value 가 날라간다.
# 1   NaN
# 2   NaN
# 3   NaN
# dtype: float64

1   NaN
2   NaN
3   NaN
dtype: float64

In [38]:
# error // 기본 자료형으로는 연산이 안된다. numpy를 쓰던가, pandas 자료형을 쓰던가..
python_list = [1,3,5,7,9]
python_list.mean

AttributeError: 'list' object has no attribute 'mean'